.searchForm {
    margin-top: 1.5rem;
}

.formSelect {
    border-radius: 1%;
}


.searchQueryInput {
    border-radius: 1%;
    text-shadow: #182430;
    color:'red';
    overflow: scroll;
    overflow-x: scroll;
    text-overflow: ellipsis
}


.formLabel {
    margin-left: 0.2rem;
}




.DateInput_input {
    text-align: center;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-overflow: ellipsis;
    padding: 7px 11px 7px;
    line-height: 20px;
}

#searchButton {
    width: 150px;
    border-radius: 1.5rem;
    margin-left: 0.5%;
    margin-top: 2%;
    font-size: large;
    padding: 6px 15px 6px 15px
}

#buttonColumn {
    text-align: center;
}



