#spinnerDiv {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
}


#spinner {
    position: relative;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    height: 60px;
    width: 60px;
    background-color: aliceblue;
    margin: auto
}

#tweetListDiv {
    margin-top: 0.5rem;
    margin-left: 5%;
    margin-right: 5%;
}

#fetchingSpinnerDiv {
    text-align: center;
    margin-top: 1rem;
    margin-bottom:1rem;
}



