#tweetDiv {
    margin-bottom: 1.5rem;
}

#tweetCardSubtitle {
    margin-left: 0.8rem;
    font-size: 0.9rem;
}

#tweetCardBody {
    background-color: rgb(241, 249, 252);
}

#repeatIcon {
    display: inline-block;
    margin-left: 0.5rem;
    color: #182430;
}

#tweetText {
    margin-left: 0.4rem;
}

#favoriteIcon {
    display: inline-block;
    margin-left: 1rem;
    color: red;
}

#cardHeaderText {
    font-weight: bold;
    font-size: large;
    font-family: "Piazzolla";
    margin-left: 0.5rem;
}

.arrowImageForward {
    background-color: rgba(119, 116, 116, 0.05);
    opacity: "0.2";
    border-radius: 50%;
    position: absolute;
    color: rgb(71, 68, 68);
    z-index: 1;
    top: 45%;
    right: 1%;
}

.arrowImageBack {
    background-color: rgba(119, 116, 116, 0.05);
    opacity: "0.2";
    border-radius: 50%;
    color: rgb(71, 68, 68);
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 1%;
}

#buttonToTwitter {
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

#buttonOffline {
    display: inline-block;
    padding-top: 0.1rem;
    margin-left: 0.5rem;
    border-radius: 1rem;
}

#toast {
    margin-top: 1rem;
}

#buttonsDiv {
    display: inline-block;
}

@media (max-width:450px) {
    #buttonsDiv {
        margin-top: 0.5rem;
    }

    #buttonToTwitter {
        margin-left: 0.6rem;
    }
}


