@import "./components/styles/Header.css";
@import "./components/styles/SearchRecentTweetsForm.css";
@import "./components/styles/TweetList.css";
@import "./components/styles/Tweet.css";
@import "./components/styles/Footer.css";
@import "./pages/styles/PageNotFound.css";
@import "./pages/styles/StreamingPage.css";
@import "./pages/styles/SavedTweetsPage.css";

h1 {
    margin: 0;
}

.pageTitle {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.pageBody {
    margin-left: 1rem;
    margin-right:1rem;
    margin-bottom: 4rem;
}

body {
    min-width: 385px;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.helperTextDiv {
    text-align: center;
    margin-top: 3rem;
}

.helperText {
    font-size: x-large;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
